<div class="main-menu p-d-flex p-flex-row p-flex-sm-row p-flex-wrap">
    <div class="p-d-flex p-flex-row p-p-2">
        <p-button type="text" (click)="setDisplaySideBar()" icon="pi pi-bars"></p-button>
        <img class="main-menu-logo p-ml-3" src="../assets/images/logo.png" alt="Accenture Logo">
        <span class="main-menu-title p-ml-1 p-as-end">RoadMap</span>
    </div>
    <div class="p-ml-auto p-d-flex p-flex-row p-pt-2 p-pr-3 p-pb-2 p-pl-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="inputSearch" placeholder="Search">     
        </span>
        <span class="p-overlay-badge p-ml-3 p-mr-2 p-as-end">
            <i class="pi pi-bell main-menu-user-notification-icon"></i>
            <span class="p-badge">2</span>
        </span>
        <img class="main-menu-user-img p-ml-4" src="../assets/images/user.png" alt="User Image" (click)="menu.toggle($event)">
        <p-menu #menu [popup]="true" [model]="menuUser"></p-menu>
    </div>
</div>

<div class="message-service-box">
    <p-messages enableService="true" key="success"></p-messages>
    <p-messages enableService="true" key="warn"></p-messages>
    <p-messages enableService="true" key="error"></p-messages>
    <p-messages enableService="true" key="info"></p-messages>
</div>

<p-sidebar [(visible)]="displaySideBar">
    <div class="sidebar-menu-header p-d-flex p-flex-column p-flex-wrap p-pb-2">
        <img class="sidebar-menu-logo p-mt-3" src="../assets/images/logo.png" alt="Accenture Logo">
        <span class="sidebar-menu-title p-as-end p-mt-1">RoadMap</span>
    </div>
    <div class="sidebar-menu-width p-mt-2 p-mb-2">
        <p-tieredMenu [model]="menuSideBar"></p-tieredMenu>
    </div>
</p-sidebar>

<div class="p-m-2">
    <router-outlet></router-outlet>
</div>