.app-component-container{  
  .main-menu{
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px solid #bd00ff;
    flex-wrap: wrap;

    .main-menu-left{
      display: flex;
      flex-direction: row;
      padding: 8px;
      flex-wrap: wrap;

      .main-menu-logo{
        margin-left: 16px;
      }

      .main-menu-title{
        font-size: 1.8em;
        align-self: flex-end;
        margin-left: 4px;
      }

      .main-menu-logo{
        height: 36px;
      }
    }

    .main-menu-bar{
      width: 100%;

      .p-menubar{
        background: #fff;
        border: 0;
      }
    }

    .main-menu-user{
      display: flex;
      flex-direction: row;
      padding: 8px 16px 8px 8px;
      margin-left: auto;
      flex-wrap: wrap;

      .main-menu-user-img{
        height: 36px;
        margin-left: 16px;
      }

      .main-menu-user-notification{
        align-self: flex-end;

        .main-menu-user-notification-icon{
          font-size: 1.5em;
        }
      }
    }
  }

  .sidebar-menu-title{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bd00ff;
    padding-bottom: 8px;
    flex-wrap: wrap;
    
    .sidebar-menu-title{
      font-size: 2.2em;
      align-self: flex-end;
      margin-left: 4px;
    }

    .sidebar-menu-logo{
      width: 75%;
    }
  }

  .sidebar-menu-button-box{
    margin: 12px 0;

    .ng-trigger{
      width: 100% !important;
      border: 0 !important;
    }
  }

  .message-service-box{
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 16px;
  }
}