.app-component-container{  
  .main-menu{
    border-bottom: 1px solid $color_primary;

    .main-menu-logo{
      height: 36px;
      width: 132px;
    }

    .main-menu-title{
      font-size: 1.8em;
    }

    .main-menu-bar{
      width: 100%;

      .p-menubar{
        background: $color_white;
        border: 0 !important;
      }
    }

    .main-menu-user-img{
      cursor: pointer;
      height: 36px;
      width: 36px;
    }
    
    .main-menu-user-notification-icon{
      font-size: 1.5em;
    }
  }

  .sidebar-menu-header{
    border-bottom: 1px solid $color_primary;
    
    .sidebar-menu-title{
      font-size: 2em;
      border-bottom: 1px solid $color_primary;
    }

    .sidebar-menu-logo{
      width: 85%;
    }
  }

  .sidebar-menu-width{
    .ng-trigger{
      width: auto !important;
      border: 0 !important;
    }
  }

  .message-service-box{
    bottom: 0;
    right: 16px;
    position: absolute;
  }
}